[Unit]
Description=MAVLink Router
Wants=zerotier-one.service
After=network-online.target zerotier-one.service

[Service]
Type=simple
ExecStart=/home/erik/mavproxy_env/bin/mavproxy.py --master=/dev/ttyAMA0 --baudrate=57600 --out=udp:192.168.1.67:14550
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
